@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-system:
    system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --shadow-glow: 0 0 10px var(--tw-shadow-color);

  --breakpoint-wide: 1400px;
  --breakpoint-ultrawide: 1715px;
  --breakpoint-huge: 2000px;
}

@utility scrollbar-thumb-gray {
  --tw-scrollbar-thumb: gray;
  scrollbar-color: var(--tw-scrollbar-thumb, rgba(156, 163, 175, 0.5))
    var(--tw-scrollbar-track, rgba(229, 231, 235, 0.5));
}

@utility scrollbar-track-transparent {
  --tw-scrollbar-track: transparent;
  scrollbar-color: var(--tw-scrollbar-thumb, rgba(156, 163, 175, 0.5))
    var(--tw-scrollbar-track, rgba(229, 231, 235, 0.5));
}

@utility scrollbar-hidden {
  scrollbar-width: none;
}

@utility scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

@utility pixelated {
  image-rendering: pixelated;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-synthesis: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
