PRODUCTION_URL=https://ss13.tr
CDN_URL=https://cdn.ss13.tr
SERVER_GITHUB=https://github.com/psychonaut-station/PsychonautStation

API_URL=https://api.ss13.tr
API_KEY=abCdEfGhIjKlMnOpQrStUvWxYz123456

AUTH_DISCORD_ID=1234567890
AUTH_DISCORD_SECRET=abcdefghijklmnopqrstuvwxyz123456

NEXTAUTH_SECRET=abCdEfGhIjKlMnOpQrStUvWxYz1234567890abCdEfGhIjKlMnOpQrStUvWxYz123456
NEXTAUTH_URL=https://ss13.tr

VERIFY_WEBHOOK_URL=https://discord.com/api/webhooks/*
